
/* Estilos para a janela modal (escondida por padrão) */
.modal {
    display: none; /* Escondida por padrão */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease; /* Transição de opacidade */
  }
  
/* Quando a modal estiver visível */
.modal.show {
    display: block;
    opacity: 1; /* Torna a modal visível com transição suave */
  }
  
  .modal.hide {
    display: block;
    opacity: 0; /* Aplica fade-out */
  }

  .modal-content {
    background-color: white;
    margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px; /* Limite de largura */
    text-align: center;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.5s ease;
  }
  
  .modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: var(--cor4);
    color: white;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    transition: 300ms;
    background-color: var(--cor2);
  }

  .modal-content input[type="text"] {
    font-size: 13pt;
  }

  p {
    margin: 10px 0;
  }