@charset "UTF-8";

@media screen and (max-width: 728px) {
    main {
        flex-direction: column; /* Colocar elementos em coluna */
    }

    div#labelvert {
        display: none;
    }

    #box {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translate(0);
        margin: auto;
        justify-content: center;
        width: fit-content;
        padding: 50px 0 0 0;
    }
    
    div#labelhori {
        display: flex;
        padding: 20px;
        text-align: center;
        justify-content: space-around;
    }

    #labelhori a {
        text-decoration: none;
        color: white;
        font-size: 30pt;
    }
    
    #labelhori a:hover{
        color: lightblue;
    }

    #buttons, #displayresources {
        min-width: 60%;
    }

   #buttons {
        margin: auto;
        margin-top: 50px;
        padding: 25px;
   }

    span.bt {
        display: flex;
        flex-flow: column wrap;
    }
    
    #displayresources {
       max-width: fit-content;
       margin: 50px ;
       margin: auto;
       padding: 20px;
    }

    #buttons input {
        padding: 5px;
        border-radius: 5px;
        font-size: large;
    }
}