@charset "UTF-8";

:root {
    --cor1: rgb(248, 248, 91);
    --cor2: #EB018A;
    --cor3: #CC02E3;
    --cor4: #073C73;
    --cor5: #E30302;
    --cor6: #D44EE3;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

/*tags globais*/

body,html {
    background-color: white;
}

main {
    display: flex;
}

/*labels*/
header {
    background-color: var(--cor4);
}

div#labelvert, div#labelhori {
    background-color: var(--cor4);
    color: white;
    font-size: 1.2em;
}

div#labelhori {
    display: none;
}

div#labelvert {
    padding: 50px 20px 20px 20px;
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    position: fixed;
}

.itemVert {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin: 0 0px 20px 0;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.itemVert:hover {
    border: 2px solid darkgray;
    transition: 150ms;
}

.textVert {
    position: relative;
    top: 44%;
    left: 25%;
    transform: translate(-25%, -25%);
}

.material-symbols-outlined {
    cursor: pointer;
    vertical-align: middle;
}

.material-symbols-outlined:hover {
    color: lightgray;
    transition: 300ms;
}

/*conteudo*/
/*menu bloco*/
div#reser {
    margin-top: 50px;
}

.alt {
    cursor: pointer;
}

.alt::after {
    content: attr(data-content);
}

ul.resitemsblock {
    list-style: none;
    margin-left: 25px;
}

ul.resitemsblock > li {
    margin: 5px 0 0 0;
}

ul.resitemsblock > li:hover {
    text-decoration: underline;
}

.altBlock {
    margin-bottom: 20px;
}

li > a {
    color: white;
    text-decoration: none;
}

/*display conteudo*/
#displayresources {
    display: flex;
    flex-flow: row wrap;   
    color: white;
    background-color: orange;
    border-radius: 25px;
    padding: 40px;
    min-width: 300px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.829);
    justify-content: center;
}    

/*tabela display*/
#tabledisplayresources {
    border-collapse: collapse;
    text-align: center;
    width: 85%;
    font-size: 1.1em;
    border: 2px solid black;
}

tr {
    background-color: green;
    cursor: pointer;
}

tr:hover {
    transition: 300ms;
    background-color: rgb(1, 61, 1);
}

tr#line7, tr#line8, tr#line11 {
    background-color: red;
    cursor: default;
}

.selected, .selected:hover {
    background-color: white;
    color: black;
}

td {
    padding: 5px;
    border: 1px solid black;
}

th {
    font-weight: bold;
    background-color: black;
}

/*botao*/
#displayresources > input {
    border: 0;
    padding: 3.5px;
    font-weight: bolder;
    cursor: pointer;
}

/*elementos abaixo da tabela*/
aside {
    margin-top: 10px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    text-align: center;

}

aside > select {
    height: 25px;
}

aside > input {
    border: 0;
    padding: 3.5px;
    font-weight: bolder;
    cursor: pointer;
    margin: 10px;
}

/*caixa que contem os elementos principais*/
#box {
    margin-left: 250px;
    width: calc(100vw - 250px);
    display: flex;
    flex-flow: column nowrap;
    padding: 100px;
    align-items: center;
}

#buttons {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--cor4);
    padding: 40px;
    border-radius: 25px;
    margin-top: 50px;
}
